body {
    background-color: indianred;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#musicPlaying {
    background-color: #fff;
    border-radius: 18px;
    padding: 20px 15px;
    border: none;
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow : hidden;

    transition: transform 0.1s ease;
    transform-style: preserve-3d;

    filter: drop-shadow(0px 0px 20px white);

    position: absolute;
    top : 20px;
    left: 20px;
}

#nowPlaying {
    position: absolute;
    top : 5%;
    right: 0px;
    padding: 5px 10px;
    border-radius: 100px 0px 00px 100px;
    background-color: #FFBF00;
    color : #fff;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.416))
}

#cover {
    border-radius: 8px;
}

#name {
    margin-top: 10px;
    color : #FFBF00;
    font-size: 25px;
}

#author {
    margin-top : -10px;
}

#chat {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    height: 300px;
    overflow-y: auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

#chat p {
    margin: 5px 0;
    font-size: 14px;
}

#messageInput {
    position: fixed;
    top: 330px;
    right: 20px;
    width: 190px;
}

#sendBtn {
    position: fixed;
    top: 330px;
    right: 20px;
    margin-left: 200px;
}

#pseudoInput {
    position: fixed;
    top: 360px;
    right: 20px;
    width: 190px;
}

#validerPseudo {
    position: fixed;
    top: 360px;
    right: 20px;
    margin-left: 200px;
}